#.gitignore
#####################

# IDEA
/.idea/
*.iml

# Eclipse
/.classpath
/.project
/.settings/

# Maven
/log/
/target/
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# JavaScript stuff
node
node_modules

#OS meta files
.DS_Store

# Misc
/tmp/
/bin/
/data/
/global-groovy.log
rebel.xml


#Deployment
src/main/resources/static/docs/
src/main/resources/static/app
src/main/resources/static/index.html
.dev
.dist


#Styleguide
.styleguide

#Gulp
!gulp/*

#Test
.e2e

#Logs
*.log